<h3>AddPost</h3>

<div class="form-group">
    <div>
        <label >Id</label>
        <input class="form-control" type="text" @bind="Id" />
    </div>
    <div>
        <label >UserId</label>
        <input class="form-control" type="text" @bind="userId" />
    </div>
    <div>
        <label>Title</label>
        <input class="form-control" type="text" @bind="Title" />
    </div>
    <div>
        <label >Body</label>
        <input class="form-control" type="text" @bind="Body" />
    </div>
    <button class="btn btn-primary" @onclick="SaveChanges">Enviar</button>
</div>