@page "/ejemplos/{NombrePersona}"
@page "/ejemplos"
<h3>Ejemplo de rutas blazor</h3>
@if (NombrePersona != null)
{
    <p>@NombrePersona</p>
}
<MiComponente Nombre="@NombrePersona">
    <ContenidoUno>
        <NuevoComponente1></NuevoComponente1>
    </ContenidoUno>
    <ContenidoDos>
        <p>html como parametro en componente</p>
    </ContenidoDos>
</MiComponente>

