@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Hola como estas" />
<MiComponente Nombre="Ricardo">
    <ContenidoUno>
        <NuevoComponente1></NuevoComponente1>
        <h2>mas contenido dentro de contenido1</h2>
    </ContenidoUno>
    <ContenidoDos>
        <h1>datos del parametro renderFragmen2</h1>
    </ContenidoDos>
</MiComponente>
