@inject HttpClient Client
<p><strong>ejemplo componente como parametro</strong></p>
<button class="btn btn-primary"
        @onclick="@(()=>Console.WriteLine("Hola directo de boton"))">
    Saludar desde boton
</button>
<button class="btn btn-success" @onclick="GetPost">Recibe post</button>
<p>ejemplo formulario, bind y Event callback</p>
<AddPost OnAddedPost="LoadPost"></AddPost>
@if (PostsList.Count > 0)
{
    @foreach (var post in PostsList)
    {
        <div class="card">
            <div class="card-title">
                @post.Title
            </div>
            <div class="card-body">
                @post.Body
            </div>

        </div>

    }

}
