
<p><strong>Hola desde nuevo componente 1</strong></p>
<button class="btn btn-success" @onclick="Saludar">Saluda</button>
<button class="btn btn-primary"
        @onclick="@(()=>Console.WriteLine("Hola directo de boton"))">
    Saludar desde boton
</button>
@code {

}
